@model Project_Portal.Models.PresentationModel
@{
    ViewData["Title"] = "PresentationDetails";
}

<h1>Presentation Details</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.name)
        </dd>
    </dl>
</div>
<h2>@Model.name</h2>
<br />
<div>
    <a asp-action="GeneralViewPresent">Back to List</a>
</div>
