@{
    Layout = "~/Views/Shared/General_Layout.cshtml";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Welcome</h1>
        <a asp-action="LogOut" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
    </div>
    
    <h1>Hello, this is Portal Project 2023 </h1>
    <h2>You are signed in</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
