@model Project_Portal.Models.AttendeeModel
@{
    ViewData["Title"] = "PresentationDetails";
}

<h1>Presentation Details</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.presentationID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.presentationID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ViewAllPresentation">Back to List</a>
</div>
