@model Project_Portal.Models.AttendeeModel

@{
    Layout = "~/Views/Shared/General_Layout.cshtml";
}

@{
    ViewData["Title"] = "RegisterAttendance";
}

<h1>Register Attendance</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterAttendance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="presentationName" class="control-label">Presentation Code</label>
                <input asp-for="presentationName" class="form-control" value="@ViewBag.presentationName" readonly />
            </div>
            <div class="form-group">
                <label asp-for="userEmail" class="control-label">Email</label>
                <input asp-for="userEmail" class="form-control" value="@ViewBag.userEmail" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Attend" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewAllPresentations">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
